:host(.ok) {
    & > div {
        background-color: green;

        & input {
            border-color: transparent;
            background-color: lightgreen;
        }
    }
}

:host {
    --size: 1;

    display: block;
}

[data-wcid="grid"] {

    & > * {
        display: inline-block;
        box-sizing: border-box;
        width     : calc( var(--size) * 8px + 14px );
        /* 1ch ~= 10px? */

        & > :is(span, input) {
            box-sizing: border-box;
            text-align: center;
            width: 100%;
        }

        & > span {
            display: inline-block;
        }
        & > input {
            text-transform: uppercase;

            &:empty::before {
                content: "-";
                background-color: red;
            }

            &[readonly] {
                background-color: lightgray;
                border-color: transparent;
                outline: none;
            }
        }
    }
}